{% extends 'master.html' %} 

{% load static %} 

{% block title %}
Cara | Blog
{% endblock %}

{% block content %}

<!-- homepage -->
<section id="blog-page-header">
  <img
    src="{% static 'img/banner/b19.jpg' %}"
    alt="Blog Banner"
    class="blog-header-img"
  />

  <div class="blog-header-content">
    <h2>#CaraBlog</h2>
    <p>Read all case studies about our products!</p>
  </div>
</section>
<!-- homepage -->

<!-- blog -->
<section id="blog">
  {% for banner in banners %}
  <div class="blog-box">
    <div class="blog-img">
      <img src="{{ banner.banner_img.url }}" alt="{{ banner.banner_title }}" />
    </div>

    <div class="blog-details">
      <h4>{{ banner.banner_title }}</h4>
      <p>{{ banner.banner_desc }}</p>
      <a href="{% url 'shop' %}">EXPLORE MORE</a>
    </div>
    <h1>{{ banner.banner_no }}</h1>
  </div>
  {% endfor %}
</section>
<!-- blog -->

{% endblock %}