{% extends 'master.html' %}

{% load static %}

{% load cart_extras %}

{% block title %}
Cara | Cart
{% endblock %}

{% block content %}

<!-- homepage -->
<section id="about-page-header">
  <img
    src="{% static 'img/about/banner.png' %}"
    alt="Cart Banner"
    class="about-header-img"
  />

  <div class="about-header-content">
    <h2>#Cart</h2>
    <p>Add your coupon code & SAVE up to 70%!</p>
  </div>
</section>
<!-- homepage -->

<!-- cart-->
<div class="cart-wrapper" id="cart-section">
  {% if cart_items %}

  <!-- LEFT: ITEMS -->
  <div class="cart-left">
    <h2>Your Cart</h2>

    {% for item in cart_items %}
    <div class="cart-row">
      <img src="{{ item.product.p_img.url }}" alt="" />

      <div class="info">
        <h4>{{ item.product.p_name }}</h4>
        <p>${{ item.product.p_price }}</p>

        <div class="qty-box">
          <a class="qty" href="{% url 'item_decrement' item.product.id %}#cart-section">−</a>
          <span>{{ item.quantity }}</span>
          <a class="qty" href="{% url 'item_increment' item.product.id %}#cart-section">+</a>
        </div>
      </div>

      <div class="price">${{ item.product.p_price|mul:item.quantity }}</div>

      <a href="{% url 'item_clear' item.product.id %}" class="remove">×</a>
    </div>
    {% endfor %}
  </div>

  <!-- RIGHT: SUMMARY -->
  <div class="cart-right">
    <h3>Order Summary</h3>

    <div class="summary-row">
      <span>Subtotal</span>
      <span>${{ total }}</span>
    </div>

    <div class="summary-row">
      <span>Shipping</span>
      <span>
        {% if shipping_fee == 0 %}
          Free
        {% else %}
          ${{ shipping_fee }}.0
        {% endif %}
      </span>
    </div>

    <div class="summary-total">
      <span>Total</span>
      <span>${{ new_total }}</span>
    </div>

    <button class="checkout-btn">Checkout</button>

    <a href="{% url 'cart_clear' %}" class="clear-cart">Clear Cart</a>
  </div>

  {% else %}
  <div class="empty-cart">
    <div class="empty-cart-icon">🛒</div>
    <h2>Your Cart is Empty</h2>
    <p>
      Looks like you haven’t added anything yet. Start shopping to fill it up!
    </p>
    <a href="{% url 'index' %}" class="shop-button">Go Shopping</a>
  </div>
  {% endif %}
</div>
<!-- cart-->

{% endblock %}