{% extends 'master.html' %}

{% load static %}

{% block title %}
Cara | Home
{% endblock %}

{% block content %}

<!-- homepage -->
<section id="hero">
  <!-- Background Hero Image -->
  <img src="{% static 'img/hero4.png' %}" alt="Hero Image" class="hero-bg" />

  <div class="hero-content">
    <h4>Trade-in-offer</h4>
    <h2>Super Value Deals</h2>
    <h1>On all Products</h1>
    <p>Save more with coupons & upto 70% off!</p>

    <!-- Button with image -->
    <button id="1001" data-url="{% url 'shop' %}">
      <img
        src="{% static 'img/button.png' %}"
        alt="Button BG"
        class="btn-img"
      />
      <span>Shop Now</span>
    </button>
  </div>
</section>
<!-- homepage -->

<!-- features -->
<section id="feature" class="section-p1">
  <div class="feature-box">
    <img src="{% static 'img/features/f1.png' %}" alt="error loading image" />
    <h6>Free Shipping</h6>
  </div>

  <div class="feature-box">
    <img src="{% static 'img/features/f2.png' %}" alt="error loading image" />
    <h6>Online Order</h6>
  </div>

  <div class="feature-box">
    <img src="{% static 'img/features/f3.png' %}" alt="error loading image" />
    <h6>Save Money</h6>
  </div>

  <div class="feature-box">
    <img src="{% static 'img/features/f4.png' %}" alt="error loading image" />
    <h6>Promotions</h6>
  </div>

  <div class="feature-box">
    <img src="{% static 'img/features/f5.png' %}" alt="error loading image" />
    <h6>Happy Sell</h6>
  </div>

  <div class="feature-box">
    <img src="{% static 'img/features/f6.png' %}" alt="error loading image" />
    <h6>24/7 Support</h6>
  </div>
</section>
<!-- features -->

<!-- featured products -->
<section id="product1" class="product-section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p> 
  <div class="product-box">
    {% for product in featured_inventory %}
    <div
      id="product-{{ product.id }}"
      class="prod"
      data-url="{% url 'product_details' product.id %}"
    >
      <img src="{{ product.p_img.url }}" alt="{{ product.p_name }}" />
      <div class="desc">
        <span>{{ product.p_brand }}</span>
        <h5>{{ product.p_name }}</h5>
        <div class="rating">
          {% for i in "12345" %} {% if forloop.counter <= product.p_rating %}
          <i class="fas fa-star"></i>
          {% else %}
          <i class="far fa-star"></i>
          {% endif %} {% endfor %}
        </div>
        <h4>${{ product.p_price }}</h4>
      </div>
      <a
        href="{% url 'cart_add' product.id %}?next={{ request.path }}#product-{{ product.id }}"
        ><i class="fa-solid fa-cart-shopping cart"></i
      ></a>
    </div>
    {% endfor %}
  </div>
</section>
<!-- featured products -->

<!-- categories -->
<section id="categories" class="category-section">
  <h2>Shop by Category</h2>
  <p>Shop your style, your way!</p>
  <div class="categories-container">
    {% for category in categories %}
    <div class="category-box">
      <img src="{{ category.image.url }}" alt="{{ category.name }} Category" />
      <h3>{{ category.name }}</h3>
      <ul class="subcategory-list">
        {% for subcategory in category.subcategories.all %}
        <li>
          <a href="{% url 'Product_By_Category' subcategory.id %}"
            >{{ subcategory.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>
<!-- categories -->

<!-- banner -->
<section id="banner" class="section-m1">
  <img src="{% static 'img/banner/b2.jpg' %}" alt="Repair Services Banner" />
  <div class="banner-content">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% Off</span> - All T-Shirts & Accessories</h2>
    <button onclick="window.location.href='shop'">Explore More</button>
  </div>
</section>
<!-- banner -->

<!-- new arrivals -->
<section id="product1" class="section-p1">
  <h2>New Arrivals</h2>
  <p class="new">Hot off the shelves ready for you</p>
  <div class="product-box">
    {% for product in new_arrivals_inventory %}
    <div
      id="product-{{ product.id }}"
      class="prod"
      data-url="{% url 'product_details' product.id %}"
    >
      <img src="{{ product.p_img.url }}" alt="{{product.p_name}}" />
      <div class="desc">
        <span>{{ product.p_brand }}</span>
        <h5>{{ product.p_name }}</h5>
        <div class="rating">
          {% for i in "12345" %} {% if forloop.counter <= product.p_rating %}
          <i class="fas fa-star"></i>
          {% else %}
          <i class="far fa-star"></i>
          {% endif %} {% endfor %}
        </div>
        <h4>${{ product.p_price }}</h4>
      </div>
      <a
        href="{% url 'cart_add' product.id %}?next={{ request.path }}#product-{{ product.id }}"
        ><i class="fa-solid fa-cart-shopping cart"></i
      ></a>
    </div>
    {% endfor %}
  </div>
</section>
<!-- new arrivals -->

<!-- banner-2 -->
<section id="sm-banner" class="banner-2-section-p1">
  <div class="banner-1">
    <img src="{% static 'img/banner/b17.jpg' %}" alt="Crazy Deals" />
    <div class="banner-content">
      <h4>Crazy Deals</h4>
      <h2>Buy 1 Get 1 Free</h2>
      <span>The Best Classic Dress is on sale at Cara</span>
      <button onclick="window.location.href='shop'">Learn More</button>
    </div>
  </div>

  <div class="banner-1">
    <img src="{% static 'img/banner/b10.jpg' %}" alt="Spring/Summer" />
    <div class="banner-content">
      <h4>Spring/Summer</h4>
      <h2>Upcoming Season</h2>
      <span>The Best Classic Dress is on sale at Cara</span>
      <button onclick="window.location.href='shop'">Collection</button>
    </div>
  </div>
</section>
<!-- banner-2 -->

<!-- banner-3 -->
<section id="banner-3">
  <div class="banner-1">
    <img src="{% static 'img/banner/b7.jpg' %}" alt="Seasonal Sale" />
    <div class="banner-content">
      <h2>SEASONAL SALE</h2>
      <h3>Winter Collection -50% OFF</h3>
    </div>
  </div>

  <div class="banner-1">
    <img src="{% static 'img/banner/b4.jpg' %}" alt="New Footwear Collection" />
    <div class="banner-content">
      <h2>NEW FOOTWEAR COLLECTION</h2>
      <h3>Spring/Summer 2022</h3>
    </div>
  </div>

  <div class="banner-1">
    <img src="{% static 'img/banner/b16.jpg' %}" alt="T-Shirts" />
    <div class="banner-content">
      <h2>T-SHIRTS</h2>
      <h3>New Trendy Prints</h3>
    </div>
  </div>
</section>
<!-- banner-3 -->

{% endblock %}