<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Cara{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <!-- navbar -->
    <section id="header">
      <img
        src="{% static 'img/logo.png' %}"
        class="logo"
        alt="error loading image"
      />
      <div>
        <ul id="navbar">
          <li>
            <a
              class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"
              href="{% url 'index' %}"
              >Home</a
            >
          </li>
          <li>
            <a
              class="{% if request.resolver_match.url_name == 'shop' or request.resolver_match.url_name == 'product_details' or request.resolver_match.url_name == 'Product_By_Category' %}active{% endif %}"
              href="{% url 'shop' %}"
              >Shop</a
            >
          </li>
          <li>
            <a
              class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}"
              href="{% url 'blog' %}"
              >Blog</a
            >
          </li>
          <li>
            <a
              class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
              href="{% url 'about' %}"
              >About</a
            >
          </li>
          <li>
            <a
              class="{% if request.resolver_match.url_name == 'contact' or request.resolver_match.url_name == 'contact_success' %}active{% endif %}"
              href="{% url 'contact' %}"
              >Contact</a
            >
          </li>
          <li id="shopping-bag">
            <a
              class="bag {% if request.resolver_match.url_name == 'cart' %}active-cart{% endif %}"
              href="{% url 'cart' %}"
              ><i class="fas fa-shopping-bag"></i
            ></a>
          </li>

          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'profile' %}" class="profile">
              <img
                src="{% if user.is_authenticated and user.userprofile.profile_pic %}{{ user.userprofile.profile_pic.url }}{% else %}{{ MEDIA_URL }}profiles/default.png{% endif %}"
                alt="Profile"
                style="
                  width: 37px;
                  height: 37px;
                  border-radius: 50%;
                  object-fit: cover;
                  border: 1px solid #ccc;
                "
              />
            </a>
          </li>
          {% else %}
          <li>
            <a
              class="{% if request.resolver_match.url_name == 'password_reset' or request.resolver_match.url_name == 'password_reset_done' or request.resolver_match.url_name == 'password_reset_confirm' or request.resolver_match.url_name == 'password_reset_complete' %}active{% endif %}"
              href="{% url 'login' %}"
              >Login</a
            >
          </li>
          {% endif %}

          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a
          class="bag {% if request.resolver_match.url_name == 'cart' %}active-cart{% endif %}"
          href="{% url 'cart' %}"
          ><i class="fas fa-shopping-bag"></i
        ></a>
        <i id="bar" class="fa-solid fa-bars"></i>
      </div>
    </section>
    <!-- navbar -->

    {% block content %} {% endblock %}

    <!-- news-letter -->
    <section id="news" class="news-section-m1 news-section-p1">
      <img
        src="{% static 'img/banner/b14.png' %}"
        alt="newsletter-bg"
        class="news-bg"
      />

      <div class="info">
        <h4>Sign Up for Newsletters</h4>
        <p>
          Get E-mail updates about our latest shop and
          <span>special offers.</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Enter email here" />
        <button>SignUp</button>
      </div>
    </section>
    <!-- news-letter -->

    <!-- footer -->
    <footer class="footer-section-p1">
      <div class="col">
        <img
          class="footer_img"
          src="{% static 'img/logo.png' %}"
          alt="error image loading"
        />
        <h4>Contact</h4>
        <p>
          <strong>Address:</strong> 562 Wellington Road, Street 32, San
          Francisco
        </p>
        <p><strong>Phone:</strong> +01 2222 365 / (+91) 01 2345 6789</p>

        <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icons">
            <a href="http://www.facebook.com"
              ><img
                src="{% static 'img/Follow Us/facebook.png' %}"
                alt="error loading image"
            /></a>
            <a href="http://www.twitter.com"
              ><img
                src="{% static 'img/Follow Us/twitter.png' %}"
                alt="error loading image"
            /></a>
            <a href="http://www.instagram.com"
              ><img
                src="{% static 'img/Follow Us/instagram.png' %}"
                alt="error loading image"
            /></a>
            <a href="http://www.pinterest.com"
              ><img
                src="{% static 'img/Follow Us/pinterest.png' %}"
                alt="error loading image"
            /></a>
            <a href="http://www.youtube.com"
              ><img
                src="{% static 'img/Follow Us/youtube.png' %}"
                alt="error loading image"
            /></a>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
      </div>

      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>

      <div class="col">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="install">
          <a href="https://www.apple.com/app-store/"
            ><img
              src="{% static 'img/pay/app.jpg' %}"
              alt="error loading image"
          /></a>
          <a href="https://play.google.com/store/games?hl=en"
            ><img
              src="{% static 'img/pay/play.jpg' %}"
              alt="error loading image"
          /></a>
        </div>
        <p>Secured Payment Gateways</p>
        <img
          class="payment"
          src="{% static 'img/pay/pay.png' %}"
          alt="error loading image"
        />
      </div>

      <div class="copyright">
        <p>
          © 2026 <strong>Cara</strong> - Online Fashion & Ecommerce Store. All
          Rights Reserved.
        </p>
      </div>
    </footer>
    <!-- footer -->

    <script src="{% static 'java/script.js' %}"></script>
  </body>
</html>
