{% extends 'master.html' %}

{% load static %} 

{% block title %}
Cara | Shop
{% endblock %}

{% block content %}

<!-- homepage -->
<section id="page-header">
  <img
    src="{% static 'img/banner/b1.jpg' %}"
    alt="Page Banner"
    class="page-header-img"
  />

  <div class="page-header-content">
    <h2>#StayHome</h2>
    <p>Save more with coupons & upto 70% off!</p>
  </div>
</section>
<!-- homepage -->

<!-- products -->
<section id="product1" class="product-section-p1 section-margin">
  <h2 class="latest-coll">All Collections</h2>
  <div class="product-box" >
    {% for product in all_products %}
    <div id="product-{{ product.id }}" class="prod" data-url="{% url 'product_details' product.id %}">
       <img src="{{ product.p_img.url }}" alt="{{ product.p_name }}" />
      <div class="desc">
        <span>{{ product.p_brand }}</span>
        <h5>{{ product.p_name }}</h5>
        <div class="rating">
          {% for i in "12345" %} {% if forloop.counter <= product.p_rating %}
          <i class="fas fa-star"></i>
          {% else %}
          <i class="far fa-star"></i>
          {% endif %} {% endfor %}
        </div>
        <h4>${{ product.p_price }}</h4>
      </div>
      <a href="{% url 'cart_add' product.id %}?next={{ request.path }}#product-{{ product.id }}"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>
    {% endfor %}
  </div>
</section>
<!-- products -->

{% endblock %}